<p>
The <a href="https://www.doane.edu/divas-project">Digital Imaging and Vision Applications in Science (DIVAS) 
project</a> is a collaborative venture between faculty at Doane University and St. Edward's University in 
Austin, Texas. The project addresses workforce challenges in science, technology, engineering, and mathematics 
(STEM) by creating a pedagogical and programmatic "onramp" that empowers natural science majors to engage in 
authentic computational problems as members of skilled, professional teams. Our interventions provide stimulating 
experiences for students, and aim to improve learning outcomes, and increase student retention and graduate 
rates in STEM fields. This project follows feedback from a previous NSF-funded planning grant (NSF ACI#1216869) 
that sought to determine the cyberinfrastructure needs for efficient phenomics research.
</p>
