<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - January 7th</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://doane.qualtrics.com/jfe/form/SV_8Dixwq4UARwLmlv">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:30-09:00</td> <td><a href="https://mmeysenburg.github.io/image-processing/setup">Set-up</a></td> </tr>
      <tr> <td>09:00-10:30</td> <td><a href="https://mmeysenburg.github.io/image-processing/01-introduction/">Introduction to Image Processing</a></td> </tr>
      <tr> <td>10:30-10:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:45-12:00</td>  <td><a href="https://mmeysenburg.github.io/image-processing/02-image-basics/">Image Basics</a></td> </tr>
      <tr> <td>12:00-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-14:30</td>  <td><a href="https://mmeysenburg.github.io/image-processing/03-opencv-images/">OpenCV Images</a></td> </tr>
      <tr> <td>14:30-14:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>14:45-16:30</td>  <td><a href="https://mmeysenburg.github.io/image-processing/04-drawing-bitwise/">Drawing and Bitwise Operations</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - January 8th</h3>
    <table class="table table-striped">
      <tr> <td>08:30-09:00</td> <td><a href="https://mmeysenburg.github.io/image-processing/setup">Set-up</a></td> </tr>
      <tr> <td>09:00-10:30</td> <td><a href="https://mmeysenburg.github.io/image-processing/05-creating-histograms/">Creating Histograms</a></td> </tr>
      <tr> <td>10:30-10:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:45-12:00</td>  <td><a href="https://mmeysenburg.github.io/image-processing/06-blurring/">Blurring Images</a></td> </tr>
      <tr> <td>12:00-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-14:30</td>  <td><a href="https://mmeysenburg.github.io/image-processing/07-thresholding/">Thresholding</a></td> </tr>
      <tr> <td>14:30-14:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>14:45-16:30</td>  <td><a href="https://mmeysenburg.github.io/image-processing/08-edge-detection/">Edge Detection</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3 - January 9th</h3>
    <h4>NOTE: Day 3 workshop will be held in the Nebraska Union (adjacent to JGMC) in the Regency Suite</h4>
    <table class="table table-striped">
      <tr> <td>08:30-09:00</td> <td><a href="https://mmeysenburg.github.io/image-processing/setup">Set-up</a></td> </tr>
      <tr> <td>09:00-10:30</td> <td><a href="https://mmeysenburg.github.io/image-processing/09-contours/">Contours</a></td> </tr>
      <tr> <td>10:30-10:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:45-12:00</td>  <td><a href="https://mmeysenburg.github.io/image-processing/10-challenges/">Challenges</a></td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td><a href="https://doane.qualtrics.com/jfe/form/SV_8Dixwq4UARwLmlv" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:10</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
