<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-python">Image Processing in Python</h3>
    <ul>
      <li>Morphometric vs Colorimetric Problems</li>
      <li>Digital Image Basics</li>
      <li>OpenCV Library</li>
      <li>Bitwise Operations</li>
      <li>Creating Color Distribution Histograms</li>
      <li>Blurring Filters</li>
      <li>Thresholding</li>
      <li>Edge Detection and Contours</li>
      <li><a href="https://mmeysenburg.github.io/image-processing/reference/">Reference...</a></li>
    </ul>
  </div>
</div>
